/* ---- FUENTES ---- */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

@import 'tailwindcss';
@import 'tailwindcss/utilities';

@custom-variant dark (&:is(.dark));

@theme inline {
    --font-nunito: 'Nunito', 'san-serif';
    --font-bungee: 'Bungee', 'san-serif';
    --font-abeezee: 'ABeeZee', 'san-serif';
    --color-primary: #070707;
    --color-primary-hover: #000000;
    --color-primary-light: #c79fdb;
    --color-secondary: #F5BC39;
    --color-iron: #4e4c4d;
    --color-iron-strong: #3e3c3d;
    --color-white: #fff;
    --color-black: #000;
    --animate-fadeInUp: fade-in-up 0.9s ease-in-out forwards;
}

/* add the code bellow */
@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}


.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer utilities {
  .animate-marquee {
    animation: marquee 35s linear infinite;
    animation-play-state: running !important;
  }
  
  .animate-marquee:hover {
    animation-play-state: running !important;
  }
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: 'translate3d(0, 100%, 0)';
    }
    100% {
        opacity: 1;
        transform: 'translate3d(0, 0, 0)';
    }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 5 - 1.5rem * 5));
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

/* Estilos custom para el daypicker */
@layer components {
    .rdp-dropdown {
      @apply cursor-pointer p-1 rounded-md;
    }
  
    .rdp-chevron {
      @apply cursor-pointer fill-purple-500;
    }
  }

  @layer base {
  body {
    font-family: var(--font-nunito);
    color: white;
    background-color: #0e0e0e;
  }
}